In [2]:
import pandas as pd 
import numpy as np

In [3]:
#read the eplusout.csv file
df = pd.read_csv('eplusout.csv')
df

,Date/Time,Environment:Site Outdoor Air Drybulb Temperature [C](TimeStep),Environment:Site Outdoor Air Drybulb Temperature [C](Hourly),Environment:Site Outdoor Air Dewpoint Temperature [C](TimeStep),Environment:Site Outdoor Air Dewpoint Temperature [C](Hourly),Environment:Site Outdoor Air Barometric Pressure [Pa](TimeStep),Environment:Site Outdoor Air Barometric Pressure [Pa](Hourly),Environment:Site Wind Speed [m/s](TimeStep),Environment:Site Wind Speed [m/s](Hourly),Environment:Site Wind Direction [deg](TimeStep),...,ELECTRIC EQUIPMENT#F01:Toiletb#GeneralLights:InteriorLights:Electricity [J](Hourly),ELECTRIC EQUIPMENT#F01:Toiletb#TaskLights:InteriorLights:Electricity [J](Hourly),ELECTRIC EQUIPMENT#F01:Reception#GeneralLights:InteriorLights:Electricity [J](Hourly),ELECTRIC EQUIPMENT#F01:Reception#TaskLights:InteriorLights:Electricity [J](Hourly),DistrictCooling:Facility [J](Hourly),DistrictHeating:Facility [J](Hourly),Carbon Equivalent:Facility [kg](Hourly),DistrictCooling:Facility [J](TimeStep),DistrictHeating:Facility [J](TimeStep),Carbon Equivalent:Facility [kg](TimeStep)
0,01/01 00:30:00,13.90,NaN,6.65,NaN,99632.0,NaN,1.10,NaN,172.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
1,01/01 01:00:00,14.50,14.200,8.30,7.475,99760.0,99696.00,1.40,1.250,173.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,01/01 01:30:00,14.25,NaN,8.30,NaN,99760.0,NaN,1.15,NaN,167.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
3,01/01 02:00:00,14.00,14.125,8.30,8.300,99760.0,99760.00,0.90,1.025,162.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,01/01 02:30:00,13.75,NaN,8.05,NaN,99760.0,NaN,0.80,NaN,183.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17515,12/31 22:00:00,10.30,10.425,10.00,10.050,99236.0,99229.50,0.40,0.675,165.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17516,12/31 22:30:00,10.05,NaN,9.70,NaN,99248.5,NaN,0.30,NaN,164.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
17517,12/31 23:00:00,9.80,9.925,9.40,9.550,99261.0,99254.75,0.20,0.250,163.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17518,12/31 23:30:00,9.30,NaN,9.00,NaN,99274.0,NaN,0.25,NaN,170.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0
17519,12/31 24:00:00,8.80,9.050,8.60,8.800,99287.0,99280.50,0.30,0.275,178.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
#select the columns of DistrictHeating and DistrictCooling
df1 = df[['DistrictHeating:Facility [J](Hourly)','DistrictCooling:Facility [J](Hourly)']]
df1

,DistrictHeating:Facility [J](Hourly),DistrictCooling:Facility [J](Hourly)
0,NaN,NaN
1,0.0,0.0
2,NaN,NaN
3,0.0,0.0
4,NaN,NaN
...,...,...
17515,0.0,0.0
17516,NaN,NaN
17517,0.0,0.0
17518,NaN,NaN
17519,0.0,0.0

In [5]:
#select the columns of Electricity
df2 = df[['Electricity:Facility [J](Hourly)']]
df2

       Electricity:Facility [J](Hourly)
0                                   NaN
1                         455750.980264
2                                   NaN
3                         455750.980264
4                                   NaN
...                                 ...
17515                     455750.980264
17516                               NaN
17517                     455750.980264
17518                               NaN
17519                     455750.980264

[17520 rows x 1 columns]

In [7]:
#concat df1 and df2
df3 = pd.concat([df1,df2],axis=1)
df3

,DistrictHeating:Facility [J](Hourly),DistrictCooling:Facility [J](Hourly),Electricity:Facility [J](Hourly)
0,NaN,NaN,NaN
1,0.0,0.0,455750.980264
2,NaN,NaN,NaN
3,0.0,0.0,455750.980264
4,NaN,NaN,NaN
...,...,...,...
17515,0.0,0.0,455750.980264
17516,NaN,NaN,NaN
17517,0.0,0.0,455750.980264
17518,NaN,NaN,NaN
17519,0.0,0.0,455750.980264

In [8]:
#remove the rows with NaN   
df4 = df3.dropna()

In [9]:
df4

,DistrictHeating:Facility [J](Hourly),DistrictCooling:Facility [J](Hourly),Electricity:Facility [J](Hourly)
1,0.0,0.0,455750.980264
3,0.0,0.0,455750.980264
5,0.0,0.0,455750.980264
7,0.0,0.0,455750.980264
9,0.0,0.0,455750.980264
...,...,...,...
17511,0.0,0.0,455750.980264
17513,0.0,0.0,455750.980264
17515,0.0,0.0,455750.980264
17517,0.0,0.0,455750.980264
17519,0.0,0.0,455750.980264

In [10]:
#convert the unit from J to kWh
df4['DistrictHeating:Facility [J](Hourly)'] = df4['DistrictHeating:Facility [J](Hourly)']/3.6e6
df4['DistrictCooling:Facility [J](Hourly)'] = df4['DistrictCooling:Facility [J](Hourly)']/3.6e6
df4['Electricity:Facility [J](Hourly)'] = df4['Electricity:Facility [J](Hourly)']/3.6e6
df4

C:\Users\dtjgp\AppData\Local\Temp\ipykernel_12048\1224273677.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['DistrictHeating:Facility [J](Hourly)'] = df4['DistrictHeating:Facility [J](Hourly)']/3.6e6
C:\Users\dtjgp\AppData\Local\Temp\ipykernel_12048\1224273677.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['DistrictCooling:Facility [J](Hourly)'] = df4['DistrictCooling:Facility [J](Hourly)']/3.6e6
C:\Users\dtjgp\AppData\Local\Temp\ipykernel_12048\1224273677.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['Electricity:Facility [J](Hourly)'] = df4['Electricity:Facility [J](Hourly)']/3.6e6

,DistrictHeating:Facility [J](Hourly),DistrictCooling:Facility [J](Hourly),Electricity:Facility [J](Hourly)
1,0.0,0.0,0.126597
3,0.0,0.0,0.126597
5,0.0,0.0,0.126597
7,0.0,0.0,0.126597
9,0.0,0.0,0.126597
...,...,...,...
17511,0.0,0.0,0.126597
17513,0.0,0.0,0.126597
17515,0.0,0.0,0.126597
17517,0.0,0.0,0.126597
17519,0.0,0.0,0.126597

In [11]:
#sum the columns
df5 = df4.sum(axis=0)

In [12]:
df5

DistrictHeating:Facility [J](Hourly)     7487.737844
DistrictCooling:Facility [J](Hourly)    24756.046698
Electricity:Facility [J](Hourly)        19498.770683
dtype: float64

In [13]:
#total consumption
total_consumption = df5.sum(axis=0)
total_consumption

51742.55522415547